*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-size: 20px;
    display: flex;
    background-color: #011126;
}

aside{
    height: 100%;
    width: 15%;
    background-color: #3DADD9;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0;
}

aside .usuario{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

aside .usuario .icone_usuario{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aliceblue;
}

aside div.usuario h2{
    font-size: 25px;
    margin-top: 10px;
}

aside .logout{
    margin: 50px 0;
    width: 160px;
    display: flex;
    font-size: 18px;
    align-items: center;
    border: none;
    background: none;
    justify-content: space-evenly;
}

aside .logout img{
    width: 30px;
}

aside .logout:hover{
    cursor: pointer;
    color: #FF0000;
}

aside .atualizarEp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

aside .atualizarEp input{
    width: 85%;
    font-size: 18px;
    padding: 5px 15px;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    margin-top: 5px;
}

aside .atualizarEp button{
    width: 70%;
    margin-top: 5px;
    padding: 5px;
    background-color: #011126;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .atualizarEp button img{
    width: 20px;
    color: #FFFFFF;
    margin-right: 10px;
}

main{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .kpis{
    display: flex;
    justify-content: space-around;
}

main .kpis .tempo_gasto,
main .kpis .tempo_restante,
main .kpis .eps_restantes{
    width: 305px;
    height: 153px;
    background-color: #C9C9C9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .kpis .tempo_gasto h4,
main .kpis .eps_restantes h4,
main .kpis .tempo_restante h4{
    text-align: center;
}

main .kpis .tempo_gasto div,
main .kpis .eps_restantes div,
main .kpis .tempo_restante div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    height: 70%;
}

main .kpis .tempo_gasto div p,
main .kpis .eps_restantes div p,
main .kpis .tempo_restante div p{
    text-align: center;
    font-size: 24px;
    margin-left: 10px;
}

main .kpis .tempo_gasto img,
main .kpis .eps_restantes img,
main .kpis .tempo_restante img{
    width: 80px;
    height: 80px;
}

#graficos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.graficoBarra{
    width: 600px;
}

.graficoDonut{
    width: 380px;
}